@model IEnumerable<Asp_Labb1.Models.Absence>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Absence Request</a>
</p>

@if (signInManager.IsSignedIn(User))
{
    var currentUser = await userManager.GetUserAsync(User);

    var isAdmin = currentUser != null && await userManager.IsInRoleAsync(currentUser, "Administrator");

    if (isAdmin)
    {
        <form asp-action="Index">
            <div class="form-group">
                <label for="queryString" class="control-label">Search Absence requests:</label>
                <input type="text" name="queryString" placeholder="First name" />
                <input type="submit" value="Search" class="btn btn-dark" />
            </div>
            <a href="@Url.Action("Index")">Go back to Full List</a>
        </form>
        <div>
            <a href="@Url.Action("SearchByMonth")">Search by month</a>
        </div>

        @if (Model.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Absencetypes)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Employees)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StartOfAbsence)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EndOfAbsence)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TimeCreated)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Absencetypes.TypeOfAbsence)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Employees.Fullname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartOfAbsence)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndOfAbsence)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TimeCreated)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.AbsenceID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.AbsenceID">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.AbsenceID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        }
        else
        {
            <p>Nothing found..</p>
        }
    }
}
else
{

    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Absencetypes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employees)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartOfAbsence)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndOfAbsence)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Absencetypes.TypeOfAbsence)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employees.Fullname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartOfAbsence)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndOfAbsence)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.AbsenceID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.AbsenceID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.AbsenceID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <p>Nothing found..</p>

    }

}